<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Cluster Details</title>
</head>
<body class="bg-gray-100">

<div class="app bg-gray-100 h-screen p-12">
    <main class="grid grid-cols-1 gap-6  w-2xl container px-2 mx-auto">


        <div class="bg-white shadow rounded-lg p-10">
            <div class="flex flex-col gap-1 text-center items-center">
                <a id="dl" href="" download=""><p id="caption"></p></a>
                <img id="display" class="h-128 w-128 bg-white p-2 rounded-lg shadow mb-4"
                     src="/image/{{.Cluster.First.Name}}" alt="">
            </div>
        </div>

        <button id="btnBack" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Zurück
        </button>

        <button id="btnNext" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Vor
        </button>

        <button id="btnPlay" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Play
        </button>

        <button id="btnStop" style="display:none"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Stop
        </button>

    </main>
</div>

<script>
    let img = document.getElementById("display");
    img.addEventListener("load", ev => {
        loaded = true;
    });
    let names = JSON.parse({{.JsonNames}});
    let idx = 0;
    let loaded = true;
    let shouldStop = false;

    document.getElementById("btnNext").addEventListener("click", ev => {
        idx++;
        update();
    });

    document.getElementById("btnBack").addEventListener("click", ev => {
        idx--;
        update();
    });

    document.getElementById("btnPlay").addEventListener("click", ev => {
        document.getElementById("btnNext").style.display = "none";
        document.getElementById("btnBack").style.display = "none";
        document.getElementById("btnPlay").style.display = "none";
        document.getElementById("btnStop").style.display = "initial";

        play();
    })

    document.getElementById("btnStop").addEventListener("click", ev => {
        document.getElementById("btnNext").style.display = "initial";
        document.getElementById("btnBack").style.display = "initial";
        document.getElementById("btnPlay").style.display = "initial";
        document.getElementById("btnStop").style.display = "none";

        stop();
    })

    document.addEventListener("keyup", (evt) => {
        if (evt.keyCode === 37) {
            idx--;
            update();
        }

        if (evt.keyCode === 39) {
            idx++;
            update();
        }
    });

    function play() {
        if (shouldStop) {
            shouldStop = false;
            return;
        }

        if (loaded) {
            idx++;
            update();
        }
        setTimeout(play, 50);
    }

    function stop() {
        shouldStop = true;
    }

    let caption = document.getElementById("caption");
    let dllink = document.getElementById("dl");

    function update() {
        if (idx > names.length) {
            idx = 0;
        }

        if (idx < 0) {
            idx = names.length - 1;
        }

        loaded = false;
        img.src = "/image/" + names[idx];
        // console.log("should show", img.src);
        caption.textContent = names[idx];
        dllink.href = "/image/" + names[idx]
    }

    console.log("loaded");
</script>
</body>
</html>