<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Historische Aufnahmen</title>
</head>
<body class="bg-black h-screen relative">
<img id="display" class="h-full m-auto object-contain" src="" alt="">

<div class="h-full w-full grid justify-items-center absolute top-0 left-0">
    <div class="self-start w-full">
        <div class="font-mono mt-2 grid gap-1 grid-cols-2 justify-center">


            <a class="self-center" href="/">
                <div class="text-white bg-black flex rounded  overflow-hidden opacity-50 hover:opacity-100">

                    <div class="p-3">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M11 17l-5-5m0 0l5-5m-5 5h12"/>
                        </svg>
                    </div>

                    <button class="px-4">
                        zurück
                    </button>

                </div>
            </a>

            <a id="linkDownload" class="self-center" href="#" download>
                <div class="text-white   bg-black flex flex-row-reverse rounded  overflow-hidden opacity-50 hover:opacity-100">

                    <div class="p-3">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M9 19l3 3m0 0l3-3m-3 3V10"/>
                        </svg>
                    </div>

                    <button id="btnDownload" class="px-4">
                        ?
                    </button>
                </div>
            </a>
        </div>
    </div>

    <div class="self-end absolute w-full">
        <div class="mb-2 grid gap-1 justify-center">

            <div class="w-screen text-white h-10 bg-black flex rounded align-middle overflow-hidden pr-2 pl-2">
                <button id="btnPlay">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z"/>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                    </svg>
                </button>
                <button id="btnPause">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M10 9v6m4-6v6m7-3a9 9 0 11-18 0 9 9 0 0118 0z"/>
                    </svg>
                </button>
                <input id="slider" class="ml-2 w-full" type="range" min="0" max="65000" step="1" value="0">
            </div>


        </div>

    </div>
</div>

<script type="application/javascript">
    let model = {{.}};
    let slider = document.getElementById("slider");
    let play = document.getElementById("btnPlay");
    let pause = document.getElementById("btnPause");
    let img = document.getElementById("display");
    let linkDownload = document.getElementById("linkDownload");
    let btnDownload = document.getElementById("btnDownload");
    slider.max = model.Max;
    pause.style.display = "none";
    let idx = 0;
    let playing = false;
    let loading = false;

    slider.addEventListener("input", ev => {
        idx = slider.value;
        update();
    })

    img.addEventListener("load", ev => {
        loading = false;
    });

    play.addEventListener("click", ev => {
        playing = true;
        play.style.display = "none";
        pause.style.display = "block";
        next();
    })

    pause.addEventListener("click", ev => {
        playing = false;
        play.style.display = "block";
        pause.style.display = "none";
    })

    function update() {
        loading = true;
        display.src = "/image/" + model.Files[idx];
        linkDownload.href = display.src;
        btnDownload.innerText = model.Dates[idx];
    }

    function next() {
        if (!playing) {
            return
        }

        if (!loading) {
            idx++;
            update();
        }

        setTimeout(next, 50)
    }

    update();

</script>

</body>
</html>